In [11]:

import pandas as pd 
import sasoptpy as so
import numpy as np

In [2]:
df = pd.read_csv('../data/fplreview.csv')

In [3]:
df.head()

,Pos,Name,BV,SV,Team,2_xMins,2_Pts,3_xMins,3_Pts,4_xMins,4_Pts,5_xMins,5_Pts,6_xMins,6_Pts,7_xMins,7_Pts
0,G,Leno,5.0,5.0,Arsenal,88,3.321,87,3.106,86,4.018,86,3.788,86,3.531,85,3.506
1,G,Rúnarsson,4.0,4.0,Arsenal,0,0.000,2,0.071,2,0.093,2,0.088,2,0.082,2,0.082
2,M,Willian,6.4,6.4,Arsenal,7,0.284,4,0.150,5,0.318,6,0.319,5,0.257,7,0.335
3,F,Aubameyang,9.9,9.9,Arsenal,53,2.158,72,2.767,72,4.744,75,3.957,72,3.703,73,3.488
4,D,Cédric,4.5,4.5,Arsenal,4,0.112,4,0.076,5,0.240,4,0.163,7,0.249,8,0.277

In [47]:
i_xMins = []
for i in range(2,8):
   array = df[str(i)+"_xMins"].to_numpy()
   i_xMins.append(array)

In [48]:
len(i_xMins)

6

In [49]:
i_xMins[0]

array([88,  0,  7, 53,  4, 39, 85, 47, 49, 43,  1,  0,  0, 45,  6, 86, 73,
        4, 61,  0, 68, 58, 29,  0,  0, 36,  0,  0,  0, 89,  0, 22, 67,  0,
       85,  1,  0, 89, 87, 36, 45, 52, 73, 87, 88,  2, 13,  0,  0, 41, 15,
        0, 44,  0, 81, 64,  0,  0, 88, 83, 86, 48, 82, 70,  0,  0, 86,  0,
       89, 86,  0, 48,  1, 36,  1, 88, 85, 86,  6, 89, 44,  0, 59, 79, 44,
        0,  3,  4, 50, 34, 85,  0, 47,  0,  6, 81,  6, 89,  1,  2, 70,  0,
        0, 30, 12, 89, 87, 45, 79, 88, 42, 89, 87,  0, 66,  0,  0, 85, 54,
        0, 52, 35, 68,  1, 52,  0, 82, 41,  1, 32,  0,  1, 50, 45, 60,  0,
       52, 75,  0,  9, 58, 73, 88, 28, 70, 89,  0, 79, 74, 83,  7, 27, 73,
       85, 62,  0, 71,  0, 20,  0,  0, 89,  0,  0, 78, 56,  0, 88, 78, 89,
       85,  9, 83, 33, 33,  2, 82, 37, 41, 78,  0,  0,  0, 80, 86, 73, 47,
       82, 80,  0, 76, 22, 21, 46,  2, 81,  1, 62, 89, 89,  0, 25,  1,  0,
       77,  3, 83, 75, 81, 84, 66, 61, 38,  0, 78, 84, 89,  0, 12,  0, 20,
       55,  0, 78, 76,  3,  2, 52, 86, 81, 89, 72, 88,  0,  2,  2, 88,  2,
       30, 56,  0,  0, 11,  3, 80,  0,  0,  0, 69, 44, 65, 64, 29, 75, 68,
       70, 89,  4, 27,  0, 40, 82, 41,  6,  0, 84, 76, 59, 18, 80,  9, 74,
       88, 79, 87,  7, 88, 37,  0,  9,  0,  8,  0, 57, 72,  3, 20, 87, 74,
        2, 54, 76, 75, 24,  0, 83,  2, 29, 62,  3,  0,  0, 27, 81,  2, 79,
       65, 51, 13, 32, 13,  0,  0, 89, 79,  0, 45, 48, 86, 40,  0,  6, 47,
        4, 69, 89,  8,  8,  2,  0, 10, 28,  5, 83, 79, 38, 83, 46, 55, 14,
       86, 85, 75,  0, 81, 38,  0,  0,  2, 40, 60,  0, 89,  8,  0,  0, 47,
        0, 86, 73, 76, 60, 64,  7, 88,  5, 73,  8, 31, 84, 36, 25, 54,  5,
       29,  0, 47,  1, 42, 33, 73, 11,  5, 30, 17,  0, 83,  0, 88, 42, 61,
        0,  1,  0,  0, 35,  7,  3, 88, 62,  0,  0, 42,  0,  0,  3,  0, 85,
       89,  0, 79, 22, 84, 84,  2, 13, 10, 88, 80, 78, 88, 88, 81,  5,  0,
       84,  0, 17, 87, 84, 62, 76,  0, 64, 87, 85, 86,  0, 20, 22,  0,  2,
        3,  0, 17,  3,  0,  0, 63, 27,  0,  0,  9,  0,  2, 78, 88,  8,  0,
       88, 74, 70, 51,  0, 82,  1, 57, 45,  0, 14, 25, 25,  0, 83, 89,  0,
       77, 76,  4,  0,  0, 67, 75, 32, 52,  0,  0, 18,  3,  0, 42, 74,  0,
        0, 52,  0,  0,  0,  0,  0,  0,  1,  2,  2,  0,  2,  0,  0,  0,  0,
        0,  0, 65,  0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0, 82,  0,  0,
        0, 57, 23,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0, 33,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  4,  0,  0,  0,  4,  0,  0,  1,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  3,  0,  0,  2,  0,  0,
        0,  0,  0,  0, 22,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0], dtype=int64)

In [50]:
avg_xMins = 0
for i in range(0,len(i_xMins)-1):
    avg_xMins += i_xMins[i]

In [51]:
avg_xMins

array([433,   8,  27, 344,  24, 270, 392, 191, 231, 212,  16,   0,   0,
       299, 231, 413, 337,  13, 300,   1, 312, 267, 137,   0,   0, 148,
         0,   3,   0, 438,   0, 104, 283,   0, 399,  22,   0, 425, 414,
       237, 168, 247, 351, 416, 424,  27,  54,   0,   9, 321,  74,   0,
       216,   1, 368, 199,   0,   0, 425, 398, 412, 343, 381, 330,   0,
         0, 404,   0, 437, 408, 150, 208,  13, 159,   5, 420, 400, 409,
        31, 437, 231,   0, 276, 381, 222,   0,  31,  33, 260, 192, 407,
         0, 240,   1,  42, 390,  40, 423,  45,  46, 336,   0,   0, 163,
        81, 423, 413, 247, 377, 421, 217, 437, 413,   0, 321,   0,   0,
       405, 261,   0, 267, 183, 340,   4, 234,   0, 396, 195,   9, 192,
        86,   8, 252, 207, 285,   0, 243, 352,   2,  41, 271, 356, 436,
       136, 334, 434,   9, 377, 351, 400,  51, 195, 335, 406, 284,   6,
       326,   2, 108,   0,   0, 421,   0,   0, 371, 302,   0, 423, 381,
       436, 405,  61, 398, 160, 161,  22, 393, 197, 236, 377,   0,   0,
         0, 345, 404, 359, 239, 391, 382, 208, 364, 122, 121, 210,  22,
       363,   7, 238, 438, 438, 174, 137,  14,   3, 373,  15, 396, 249,
       383, 400, 314, 328, 186,  11, 364, 404, 415,   0,  87,   0, 105,
       318,   6, 364, 362,  19,  11, 269, 421, 388, 436, 342, 417, 161,
        18,  13, 425,  32, 142, 296,   0,   0,  88,  18, 261,  10,   0,
         0, 354, 309, 327, 347, 156, 331, 338, 330, 438,  24, 130,   4,
       180, 389, 302,  31,  38, 390, 372, 281, 220, 335,  43, 364, 420,
       377, 408, 103, 425, 209,  21, 236,   0,  42,  20, 195, 343,  29,
        98, 418, 329,  19, 264, 361, 363, 235,   0, 397,  20, 155, 305,
        28,   0,   0, 159, 389,  28, 382, 318, 257,  73, 170,  81,   0,
         0, 437, 379,   0, 229, 237, 405, 205,   0,  42, 244,  37, 328,
       424,  63,  40,  16,   0,  81, 165,  31, 409, 380, 195, 401, 238,
       275,  49, 411, 404, 375,   0, 387, 209,   0,   0,  22, 201, 313,
         0, 437,  36,   0,   0, 310,   2, 410, 354, 351, 293, 307,  65,
       417,  29, 355,  52, 176, 402, 203, 124, 240,  32, 217,   2, 228,
         5, 220, 133, 342,  61,  19, 156, 201,   1, 384,   0, 435, 214,
       277,   0,   4,   0,   0, 189,  35,  21, 426, 300,   0,   0, 178,
         0,   0,  46,   0, 414, 423,   0, 371, 133, 389, 404,  31,  87,
        72, 417, 380, 377, 421, 422, 383,  59,   0, 396,   0, 248, 415,
       400, 262, 372,   0, 272, 408, 401, 408,   0,  84, 125,   0,  12,
        26,   0, 121,  32, 122,   2, 309, 234,   7,   7,  33,   0,  23,
       376, 422,  52,   0, 415, 355, 275, 242,  92, 397,  11, 272, 284,
         0,  81, 135, 123,   5, 403, 437,   0, 374, 233,  37,   6,   6,
       329, 362, 158, 246,   5,   4, 115,  26,   6, 162, 361,   2,   0,
       224,   0,   0,   1,   0,   2,   0,   7,  12,  22,   0,  13,   0,
         0,   0,   0,   0,   0, 209,   0,   2,   0,   0,   0,  22,   0,
         0,   0,   0,   0, 398,   0,   0,   0, 362,  84,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0, 350,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,  19,   0,   5,   0,  17,
         0,   0,  11,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   2,   3,   0,  16,   0,   0,  15,   1,   0,   0,   0,   0,
        10, 110,   0,   0,   6,   0,   0,   1,   0,   0,   0,   0,   0,
         0,   0,   0], dtype=int64)

In [4]:
gk_data = df[df['Pos']=="G"].copy().reset_index()

In [5]:
gk_data.head(10)

,index,Pos,Name,BV,SV,Team,2_xMins,2_Pts,3_xMins,3_Pts,4_xMins,4_Pts,5_xMins,5_Pts,6_xMins,6_Pts,7_xMins,7_Pts
0,0,G,Leno,5.0,5.0,Arsenal,88,3.321,87,3.106,86,4.018,86,3.788,86,3.531,85,3.506
1,1,G,Rúnarsson,4.0,4.0,Arsenal,0,0.000,2,0.071,2,0.093,2,0.088,2,0.082,2,0.082
2,27,G,Steer,4.0,4.0,Aston Villa,0,0.000,0,0.000,1,0.035,1,0.041,1,0.035,2,0.072
3,29,G,Martínez,5.5,5.5,Aston Villa,89,3.933,88,3.769,87,3.134,87,3.665,87,3.162,86,3.187
4,53,G,Steele,4.0,4.0,Brighton,0,0.000,0,0.000,0,0.000,1,0.041,0,0.000,3,0.127
5,64,G,Ryan,4.5,4.5,Brighton,0,0.000,0,0.000,0,0.000,0,0.000,0,0.000,0,0.000
6,68,G,Sánchez,4.5,4.5,Brighton,89,4.344,88,3.918,88,3.752,86,3.629,86,3.930,85,3.657
7,79,G,Raya,4.5,4.5,Brentford,89,3.777,87,3.257,87,3.645,87,3.432,87,3.118,86,3.165
8,91,G,Balcombe,4.0,4.0,Brentford,0,0.000,0,0.000,0,0.000,0,0.000,0,0.000,0,0.000
9,93,G,Gunnarsson,4.0,4.0,Brentford,0,0.000,1,0.037,0,0.000,0,0.000,0,0.000,2,0.074

In [6]:
model = so.Model(name='gk model')

NOTE: Initialized model gk model.

In [7]:
gk_data.set_index('index',inplace=True)

In [8]:
players = gk_data.index.tolist()

In [9]:
lineup = model.add_variables(players,name='lineup',vartype=so.binary)

In [10]:
bench = model.add_variables(players,name='bench',vartype=so.binary)

In [ ]:
total_exp = so.expr_sum(lineup[p]*)